* text=auto !eol
b/borrowed_malevolence.txt -text
c/cemetery_recruitment.txt -text
c/chilling_grasp.txt -text
c/coax_from_the_blind_eternities.txt -text
d/dawn_gryff.txt -text
d/docent_of_perfection_final_iteration.txt -text
e/emrakul_the_promised_end.txt -text
g/galvanic_bombardment.txt -text
g/gnarlwood_dryad.txt -text
l/long_road_home.txt -text
n/niblis_of_frost.txt -text
n/noosegraf_mob.txt -text
s/sanctifier_of_souls.txt -text
t/take_inventory.txt -text
t/thalia_heretic_cathar.txt -text
t/thalias_lancers.txt -text
u/ulrich_of_the_krallenhorde_ulrich_uncontested_alpha.txt -text
u/unsubstantiate.txt -text
