* text=auto !eol
a/archangel_avacyn_avacyn_the_purifier.txt -text
c/compelling_deterrence.txt -text
e/eerie_interlude.txt -text
f/forsaken_sanctuary.txt -text
f/foul_orchard.txt -text
h/highland_lake.txt -text
p/pore_over_the_pages.txt -text
s/stone_quarry.txt -text
w/warped_landscape.txt -text
w/woodland_stream.txt -text
