* text=auto !eol
a/always_watching.txt -text
a/angel_of_deliverance.txt -text
a/archangel_avacyn_avacyn_the_purifier.txt -text
a/arlinn_kord_arlinn_embraced_by_the_moon.txt -text
b/behold_the_beyond.txt -text
c/clip_wings.txt -text
c/compelling_deterrence.txt -text
c/crow_of_dark_tidings.txt -text
d/descend_upon_the_sinful.txt -text
d/drownyard_temple.txt -text
d/duskwatch_recruiter_krallenhorde_howler.txt -text
e/eerie_interlude.txt -text
f/forsaken_sanctuary.txt -text
f/foul_orchard.txt -text
h/highland_lake.txt -text
h/hound_of_the_farbogs.txt -text
j/jace_unraveler_of_secrets.txt -text
n/nahiri_the_harbinger.txt -text
p/pieces_of_the_puzzle.txt -text
p/pore_over_the_pages.txt -text
s/startled_awake_persistent_nightmare.txt -text
s/stone_quarry.txt -text
w/warped_landscape.txt -text
w/woodland_stream.txt -text
